<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ouke</title>
    <link href="~/lib/font-awesome/css/all.css">
    <link>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <title>@ViewBag.Title - Ouke</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>

    <!-- Header -->
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-toggleable-sm navbar-dark  p-md-3 text-white">
            <div class="container">
                @Html.ActionLink("MerryModel.", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle Navbar" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Nosotros", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact-section">Contacto</a>
                        </li>
                        
                        <!--<form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>-->

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-heart"></i>
                                <i class="fas fa-shopping-cart"></i>
                                <i class="fa-solid fa-user"></i>

                                <!--<span class="badge badge-pill badge-danger">3</span>-->
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <!--Contenido-->
    <div class="">
        @RenderBody()
        <hr />
    </div>

    <!--Footer-->
    <footer class="footer bg-white py-4">
        <div class="container">

            <div class="row">

                <div class="col-md">
                    <h5>Enlaces Rápidos</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" style="text-decoration: none;">Inicio</a></li>
                        <li><a href="#" style="text-decoration: none;">Productos</a></li>
                        <li><a href="#" style="text-decoration: none;">Nosotros</a></li>
                        <li><a href="#" style="text-decoration: none;">Contacto</a></li>
                    </ul>
                </div>

                <div class="col-md">
                    <h5>Categorias</h5>
                    <p><a href="#" style="text-decoration: none;">Hoddies</a></p>
                    <p><a href="#" style="text-decoration: none;">Jeans</a></p>
                    <p><a href="#" style="text-decoration: none;">Tops</a></p>
                    <p><a href="#" style="text-decoration: none;">Casacas</a></p>
                    <p><a href="#" style="text-decoration: none;">Camisas</a></p>
                    <p><a href="#" style="text-decoration: none;">Shorts</a></p>
                </div>

                <div class="col-md">
                    <h5>Tu cuenta</h5>
                    <p><a href="#" style="text-decoration: none;">Carrito de Compras</a></p>
                    <p><a href="#" style="text-decoration: none;">Seguimiento de Pedidos</a></p>
                    <p><a href="#" style="text-decoration: none;">Ayuda</a></p>
                </div>

                <div class="col-md">
                    <h5>Contacto</h5>
                    <p> <a href="#" style="text-decoration: none;">Av. Universitaria - Los Olivos</a></p>
                    <p> <a href="#" style="text-decoration: none;">MerryModel@gmail.com</a></p>
                    <p> <a href="#" style="text-decoration: none;">+ 902 652 700</a></p>
                </div>

                <div class="col-md">
                    <h5>Síguenos</h5>
                     <ul class="list-unstyled list-inline">
                          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                     </ul>
                </div>
            </div>
            
            <hr>
            <div class="text-center">
                <p>&copy; @DateTime.Now.Year MerryModel. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script>
        var nav = document.querySelector('nav');

        window.addEventListener('scroll', function () {
            if (window.pageYOffset > 100) {
                nav.classList.add('bg-dark', 'shadow');
            } else {
                nav.classList.remove('bg-dark', 'shadow');
            }
        });
    </script>

</body>

    </html>
