<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Merry Model</title>
    <link href="~/lib/font-awesome/css/all.css">
    <link>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link href="~/Recursos/Css/Inicio.css" rel="stylesheet" />
    <title>@ViewBag.Title - Merry Model</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>

    <!-- Header -->
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-toggleable-sm navbar-dark  p-md-3 text-white">
            <div class="container">
                @Html.ActionLink("MerryModel.", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle Navbar" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Nosotros", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact-section">Contacto</a>
                        </li>

                        <!--<form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>-->

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-heart"></i>
                                <i class="fas fa-shopping-cart"></i>
                                <i class="fa-solid fa-user"></i>

                                <!--<span class="badge badge-pill badge-danger">3</span>-->
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <!--Contenido-->
    <div class="">
        @RenderBody()
    </div>

    <!--Footer-->
    <footer class="footer bg-black py-4 border-0" style="color: #ffffff;">
        <div class="container pt-5">

            <div class="row">

                <div class="col-md">
                    <h5 class="pb-1" style="font-weight: bold">Enlaces Rápidos</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" style="text-decoration: none; color: #ffffff;">Inicio</a></li>
                        <li><a href="#" style="text-decoration: none; color: #ffffff;">Productos</a></li>
                        <li><a href="#" style="text-decoration: none; color: #ffffff;">Nosotros</a></li>
                        <li><a href="#" style="text-decoration: none; color: #ffffff;">Contacto</a></li>
                    </ul>
                </div>

                <div class="col-md">
                    <h5 class="pb-1" style="font-weight: bold">Categorias</h5>
                    <p><a href="#" style="text-decoration: none; color: #ffffff;">Hoddies</a></p>
                    <p><a href="#" style="text-decoration: none; color: #ffffff;">Jeans</a></p>
                    <p><a href="#" style="text-decoration: none; color: #ffffff;">Tops</a></p>
                    <p><a href="#" style="text-decoration: none; color: #ffffff;">Casacas</a></p>
                    <p><a href="#" style="text-decoration: none; color: #ffffff;">Camisas</a></p>
                    <p><a href="#" style="text-decoration: none; color: #ffffff;">Shorts</a></p>
                </div>

                <div class="col-md">
                    <h5 class="pb-1" style="font-weight: bold">Tu cuenta</h5>
                    <p><a href="#" style="text-decoration: none; color: #ffffff;">Carrito de Compras</a></p>
                    <p><a href="#" style="text-decoration: none; color: #ffffff;">Seguimiento de Pedidos</a></p>
                    <p><a href="#" style="text-decoration: none; color: #ffffff;">Ayuda</a></p>
                </div>

                <div class="col-md">
                    <h5 class="pb-1" style="font-weight: bold">Contacto</h5>
                    <p> <a href="#" style="text-decoration: none; color: #ffffff;">Av. Universitaria - Los Olivos</a></p>
                    <p> <a href="#" style="text-decoration: none; color: #ffffff;">MerryModel@gmail.com</a></p>
                    <p> <a href="#" style="text-decoration: none; color: #ffffff;">+ 902 652 700</a></p>
                </div>

                <div class="col-md">
                    <h5 style="font-weight: bold">Síguenos</h5>
                    <ul class="list-unstyled list-inline p-1">
                        <li class="list-inline-item"><a href="#" style="color: #ffffff;"><i class="fab fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" style="color: #ffffff;"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" style="color: #ffffff;"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" style="color: #ffffff;"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>

            <hr>
            <div class="text-center">
                <p>&copy; @DateTime.Now.Year MerryModel. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script>
        var nav = document.querySelector('nav');

        window.addEventListener('scroll', function () {
            if (window.pageYOffset > 100) {
                nav.classList.add('bg-light', 'navbar-light', 'shadow');
                nav.classList.remove('navbar-dark');
            } else {
                nav.classList.remove('bg-light', 'navbar-light', 'shadow');
                nav.classList.add('navbar-dark');
            }
        });
    </script>

</body>

</html>
